@import url("agecheck.css");

body {
  background-color: #ffffff;
  font-family: Lato, sans-serif;
  color: #1d1e18;
  font-size: 16px;
  line-height: 22px;
}
h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  font-size: 48px;
  line-height: 44px;
  font-weight: 700;
}
h2 {
  margin-top: 40px;
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  color: #e29631;
  font-size: 32px;
  line-height: 36px;
  font-weight: 300;
}
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  margin-bottom: 20px;
  font-family: Lato, sans-serif;
  color: #666;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}
a {
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  font-family: Lato, sans-serif;
  color: #124f66;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
}
a:hover {
  color: #e29631;
  text-decoration: none;
}

.auth-background {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('../images/footer.jpg');
    height:100%;
    width:100%;
    position: fixed;
    -webkit-background-size: cover;
    background-size: cover;
    z-index: 9999;
}

.auth-form {
    z-index: 99999;
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.auth-button-container {
    text-align: center;
}

.auth-form button {
    background-color: transparent;
    border: 1px solid white;
    padding: 10px 30px;
    display: inline-block;
    width: 35%;
}

.auth-form fieldset {
    padding-top:20px;
}

.auth-form button:hover {
    background-color: white;
    border: 1px solid white;
    color:black;
    transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
}
.auth-copyright-container {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.auth-form button.auth-invalid span {
    font-style: underline;
}

.auth-showing {
    overflow: hidden;
    margin: 0;
    height: 100%;
}

.button {
  display: inline-block;
  padding: 15px 55px;
  background-color: transparent;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  font-family: Lato, sans-serif;
  color: white;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
    border: 1px solid white;
  text-transform: uppercase;
    white-space: nowrap;
}
.button:hover {
  background-color: white;
  color: black;
    border: 1px solid white;
}

.strains-filters {
    text-align:center;
}

.strain-filter-button {
    text-align: center;
    padding: 20px 10px;
    display:inline-block;
}

.strain-filter-button a {
    padding: 10px 20px;
    border: 2px solid #4cba5c;
    background:transparent;
    text-transform: uppercase;
    color: #4cba5c;
    float:left;
}

.strain-filter-button a:hover, .strain-filter-button a.active  {
    border: 2px solid #4cba5c;
    background: #4cba5c;
    color: #ffffff;
    transition: all .3s;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -webkit-transition: all .3s;
}

.strains-filters {
    padding-bottom: 20px;
}

nav ul ul {
	padding: 25px 40px;
}

nav ul {
	float:right;
	margin-top: 15px;
	font-family: Lato, sans-serif;
	display: inline;
}
nav ul li  {
	font-family: Lato, sans-serif;
	font-weight: 400;  
	display: inline-block;
	position: relative;
	padding: 15px 20px;
	cursor: pointer;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	/* margin: 7px 5px 0px 5px; */
}

nav ul li:visited {
	color: #e29631;
}
nav ul li ul {
	padding: 0;
	position: absolute;
	top: 60px;
	left: 0px;
	width: 250px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	opacity: 0;
	/*height: 0px;*/
	overflow: hidden;
	-webkit-transiton: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	text-align: left;
    margin-top: 5px;
	/*display:none;*/
}
@media(min-width: 992px){
	nav ul li ul {
		display:none;
	}
}
nav ul li ul li { 
	background: #dddddd;  
	display: block; 
	color: #fff;
	border-left: 5px solid transparent;
}
@media (max-width: 991px){
	nav ul li ul li {
		border-left: 5px solid rgba(84,84,84,.8);
	}
}
nav ul li ul li:hover {
    border-left: 5px solid #e29631;
    font-color: #fff;
    -moz-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    -webkit-transition: all 0.1s ease;
    transition: all 0.2s ease;
}

.home-main {
  height: 400px;
}

.home-main.sub-main {
  position: relative;
  height:350px;
}
.navbar {
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: transparent;
  font-family: clarendon-text-pro, sans-serif;
  color: #e29631;
  font-weight: 400;
}
.hero-container {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.product-hero-container {
    padding-top: 30px;
    padding-bottom: 30px;
}

.contact-us {
    background-color: #e29631;
}

.contact-us-container {
    padding: 10px 0px 10px 0px;
    margin: 0 auto;
    text-align: center;
}
.contact-us-container * {
    display:inline-block;
}

.contact-us-p {
    color: #ffffff;
    font-size: 24pt;
    margin: 0 auto;
    height: initial;
    font-weight: 300;
    text-align: center;
    padding-right: 25px;
    vertical-align: middle;
}

.hero-container.sub-hero-container {
  /*position: absolute;
  left: 0px;
  right: 0px;
  bottom: 120px;
  margin-bottom: -15px;
  padding-top: 0px;*/
}
.hero-container.sub-hero-container.no-sub-nav {
  margin-top: 0px;
  margin-bottom: -27px;
  padding-bottom: 0px;
}
.hero-h1 {
  color: white;
  font-size: 56px;
  line-height: 62px;
  font-weight: 300;
  text-align: center;
  text-transform: none;
}

.product-hero-h1 {
    color: white;
    font-size: 56px;
    line-height: 62px;
    font-weight: 300;
    text-transform: none;
}

.hero-supporting-text {
  margin-top: 5px;
  margin-bottom: 20px;
  font-family: Lato, sans-serif;
  color: white;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  font-style: italic;
}
.logo-block {
  opacity: 0.9;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}
.logo-block:hover {
  opacity: 1;
}
.weather-info {
  background-color: #333;
  color: white;
}
.weather-info li {
    float: right;
    padding: 0px 15px 0px 15px;
    list-style-type: none;
}
.weather-info li a {
    color: white;
}
.weather-container {
    height:40px;
    padding-top: 8px;
}
.header-nav-link {
  float: right;
}
.header-nav-link {
  display: inline;
  padding-left: 25px;
}
.header-nav-link a {
	color:#fff;
}
.header-nav-link a:hover {
	color:#e29631;
}
.header-nav-link a:visited {
	color:#fff;
}
.action-menu-container {
  margin-top: 20px;
  margin-bottom: 30px;
}
.primary-button-emphasis {
  display: block;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.wholesale a{
    border:2px solid #e29631;
    padding: 5px 10px;
    text-transform: uppercase;
    color: #e29631;
}

.wholesale a:hover {
    border: 2px solid #e29631;
    background-color: #e29631;
    color:white;
}

.retailer-title {
    color: white;
    font-size: 45px;
    line-height: 62px;
    font-weight: 300;
    text-align: center;
    text-transform: none;
}

.retailer-background {
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: #e29631;
    background-position: 50% 50%;
    background-size: cover;
    color: white;
    height: 400px;
}

.retailer-week-container.w-col {
    padding: 0px !important;
}

.footer {
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: #e29631;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/footer.jpg');
  background-position: 50% 50%;
  background-size: cover;
  color: white;
}
.footer-paragraph {
  font-family: Lato, sans-serif;
  color: white;
  font-size: 16px;
  line-height: 24px;
}

.footer li {
    list-style-type: none;
    text-align: center;
    padding: 8px 0px;
}

.footer ul {
    padding:0px;
    text-align: center;
}

.footer li a {
    color: white;
}

.footer li a:hover {
    color: #e29631;
}

.footer-title {
    color: white;
    font-size: 20pt;
    text-align: center;
    font-weight: 300;
}

.line {
    height: 1px;
    width: 50%;
    background-color: white;
    margin: 0 auto;
    display: block;
    padding: 0px;
}

.green-line {
    height: 1px;
    width: 25%;
    background-color: #4cba5c;
    margin: 0 auto;
    display: block;
    padding: 0px;
}

.address-title {
    font-size:20px;
}

.address-title {
    text-align:center;
    color:white;
}

.address {
  font-family: Lato, sans-serif;
  color: white;
  text-align: center;
}
.footer-columns {
  padding-bottom: 0px;
}
.pre-footer {
  margin-bottom: 0px;
  background-color: #bdd8e2;
  color: white;
}
.arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    border-bottom: 5px solid black;
}
.pre-footer-h2 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: clarendon-text-pro, sans-serif;
  color: white;
  font-size: 24px;
  line-height: 36px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0px;
}
.email-signup {
  display: inline;
  width: 80%;
  height: 50px;
  float: left;
  font-size: 16px;
}
.email-signup-button {
  display: inline;
  width: 20%;
  height: 50px;
  float: left;
  background-color: #e29631;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  font-size: 20px;
  line-height: 24px;
  text-transform: none;
}
.email-signup-button:hover {
  background-color: #e29631;
}
.email-signup-form {
  width: 60%;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
}
.logo {
  height: 50px;
}
.footer-link {
  font-family: Lato, sans-serif;
  color: white;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}
.footer-link:hover {
  color: #e29631;
}
.footer-link:visited {
  color: white;
}
.action-icon {
  display: block;
  padding-bottom: 10px;
  font-family: Fontawesome, sans-serif;
  font-size: 60px;
  line-height: 66px;
  font-style: normal;
  font-weight: 100;
}
.title-h2 {
  margin-top: 0px;
  margin-bottom: 20px;
  color: #e29631;
  text-align: center;
}

.strain-container {
    opacity: 1;
    color:#333;
    padding-bottom: 30px;
}

.strain-container:hover {
    opacity: .8;
    color: #e29631;
    transition: all .3s;
    -ms-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -webkit-transition: all .3s;
}

.strain-container:hover p {
    color: #e29631;
    transition: all .3s;
    -ms-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -webkit-transition: all .3s;
}

.strain-image {
    display: block;
    border-radius: 200px;
    box-sizing: border-box;
    margin: 0 auto;
}

.cd-item-wrapper li {
    position: absolute;
    top: 0;
    left: 25%;
    width: 50%;
    opacity: 0;
    transform: translateX(200%) scale(0.7);
}
.cd-item-wrapper li.selected {
    /* selected item */
    position: relative;
    opacity: 1;
    transform: translateX(0) scale(1.3);
}
.cd-item-wrapper li.move-right {
    /* item on right - preview visible */
    transform: translateX(100%) scale(0.7);
    opacity: 0.3;
}
.cd-item-wrapper li.move-left {
    /* item on left - preview visible */
    transform: translateX(-100%) scale(0.7);
    opacity: 0.3;
}
.cd-item-wrapper li.hide-left {
    /* items hidden on the left */
    transform: translateX(-200%) scale(0.7);
}

.gallery-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 400px;
    width: auto;
}

.gallery-images-container {
    text-align: center;
}

.gallery-image-option {
    height: 100px;
    width: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin:3px;
    display: inline-block;
}

.strain-title {
    font-size: 20px;
    text-align: center;
    color: #333;
}

.our-strains {
    padding-top: 20px;
    padding-bottom: 40px;
}

.retailer-address, .retailer-phone {
    font-size: 18px;
    color: white;
    font-weight:300;
    text-align:center;
    padding-top:20px;
    padding-bottom: 5px;
}

.retailer-phone:before {
    font-family: FontAwesome;
    content: "\f095";
    font-size: 28px;
    vertical-align: middle;
    padding: 10px;
    color: #4cba5c;
}

/* Maps ACF */
.acf-map {
    width: 100%;
    height: 400px;
}

/* fixes potential theme css conflict */
.acf-map img {
    max-width: inherit !important;
}

.cta-container {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.cta-h3 {
  display: inline;
  font-family: Lato, sans-serif;
  color: #124f66;
  font-weight: 400;
}
.lead-home {
  margin-bottom: 40px;
  font-family: Lato, sans-serif;
  color: #666;
  font-size: 17px;
  text-align: center;
}

nav ul li.has-sub > a:after {
	content: "\f0dd";
	font-family: Fontawesome;
	position: absolute;
    top: -10px;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 1em;
    height: 1em;
}

.footer-copyright {
  font-family: Lato, sans-serif;
  color: white;
  font-size: 12px;
    text-align:center;
}

.footer-copyright-container {
    margin-top:15px;
}

.footer-social li{
    padding: 0px 15px;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
}

.footer-address {
    color: white;
    padding-top:20px;
}

ul li .ancillary-link {
  color: white;
  text-decoration: none;
}
ul li .ancillary-link:hover {
  color: #e29631;
  text-decoration: none;
}
ul li .ancillary-link:visited {
  color: white;
  text-decoration: none;
}
.subpage-container {
  margin-top: 40px;
  margin-bottom: 40px;
}
.two-up-container {
  margin-top: 40px;
}
.cta-block {
	margin-top: 40px;
    margin-bottom: 50px;
    padding: 40px 20px;
    color: white;
    background: url('../images/cta-background.png');
    color: #fff;
    box-shadow: 5px 5px 15px #888888;
    border-radius: 5px 20px 5px;
    display: inline-block;
    position: relative;
    width: 100%;
}

/*.subpage-container ul > li:before {
    content: "\f18e";
    font-family: FontAwesome;
    padding-right: 7px;
    color: #e29631;
}*/

.subpage-container li {
    padding: 8px 0 8px 0;
    list-style-type: none;
	color: #666;
}

a.quote-cta {
    padding: 12px 15px;
    background-color: #e29631;
    color: #fff;
}

a.quote-cta:hover {
    color: #fff;
    background-color: #666;
    cursor: pointer;
}

.cta-block-h3 {
  color: white;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}
.cta-text {
  color: white;
  text-align: center;
}
.breadcrumb {
  margin-left: 0px;
  padding-left: 0px;
}
.breadcrumb-item {
  display: inline;
  padding-right: 5px;
  font-family: kepler-std, sans-serif;
  list-style-type: none;
}
.breadcrumb-item.breadcrumb-home {
  padding-right: 5px;
  font-family: Fontawesome, sans-serif;
}
.breadcrumb-item.breadcrumb-separator {
  font-family: Fontawesome, sans-serif;
}
.breadcrumb-link {
  padding: 5px;
  font-family: Fontawesome, sans-serif;
}
.subnav {
  position: absolute;
  bottom: 1px;
  width: 100%;
  background-color: rgba(107, 143, 113, 0.49);
}
.subnav-container {
  padding-top: 20px;
  padding-bottom: 20px;
}
.subnav-list {
  padding-left: 0px;
  list-style-type: none;
}
.subnav-item {
  display: inline;
  padding-right: 60px;
  color: white;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}
.subnav-list a {
  opacity: 0.7;
  color: #e1e6e1;
}
.subnav-list a:hover {
  opacity: 1;
  color: #e1e6e1;
}
.subnav-list a:visited {
  color: #e1e6e1;
}
.subnav-list.w--current {
  opacity: 1;
  color: white;
}
.subnav-list.w--current:hover {
  color: #e29631;
}
.body-h3 {
  margin-top: 40px;
  font-family: Lato, sans-serif;
  color: #666;
  font-weight: 700;
}
.content-cta-container {
  text-align: center;
}
.inner-page-links {
  font-style: italic;
  font-weight: 700;
}

.slick-prev, .slick-next {
    background-color:#4ab95b;
    color: #4ab95b;
}

.retailer-container{
    background:
}

/* Home page featured slider
-----------------------------------------------------------*/
#featured-slider {
	float:left;
	width:940px; height:280px;
	margin:0 10px;
	position:relative;
}
#featured-slider #slides {
	position:absolute;
	top:0px;
	left:0px;
	z-index:100;
}
#featured-slider .slides_container {
	width:940px;
	overflow:hidden;
	position:relative;
	display:none;
	background:#FFF;
}
#featured-slider .slides_container div.slide {
	width:940px;
	height:280px;
	display:block;
}
#featured-slider .caption {
	z-index:500;
	position:absolute;
	top: 30px; left:670px;
	height:220px;
	width:240px;
	font-size:12px;
	line-height:16px;
	color:#000;
}
#featured-slider .caption h2 {
	font-size:18px;
	line-height:22px;
	margin-bottom:10px;
}

#featured-slider #slides .next, #slides .prev {
	position:absolute;
	top:112px;
	left:-10px;
	width:30px;
	height:37px;
	display:block;
	z-index:101;
	text-indent:-99999em;
	background: url(images/larr.gif);
}
#featured-slider #slides .next {
	left:926px;
	background: url(images/rarr.gif);
}


@font-face {
  font-family: 'Fontawesome';
  src: url('../fonts/fontawesome-webfont.woff2') format('undefined'), url('../fonts/fontawesome-webfont.eot') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.ttf') format('truetype'), url('../fonts/FontAwesome.otf') format('opentype'), url('../fonts/fontawesome-webfont.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

#slides {
	height: 300px;
}
.slide-container {
	text-align: center;
	background-color: #D3D3D3;
	padding: 10px;
	width: 75%;
}
.slide-content p{
	text-align:center;
	margin:0 auto;
    padding-top:10px;
}

/*.nav-block {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #f0f2f0;
    box-shadow: 0px 8px 50px rgba(0,0,0,.5);
}*/
.breadcrumb-container {
    position: relative;
    width: 100%;
    height: 40px;
    background-color: #d4d4d4;
}
.breadcrumb-container .breadcrumbs{
    vertical-align: middle;
    padding-top: 10px;
    font-size: 11pt;
    font-weight: 600;
}
.breadcrumb-container.breadcrumbs a{
    color:white;
}
a.breadcrumb-link {
    color: #e29631;
    font-weight: 100;
    font-style: italic;
}

li.menu-item .sub-menu a {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-indent: 30px;
    padding-top: 15px;
}

li.menu-item .sub-menu li {
    width: 100%;
    height: 58px;
}

.button-container{
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.left{
    float: left;
}

.right {
    float:right;
}

form.wpcf7-form input {
    border: 2px solid gray;
    height: 40px;
    width: 100%;
    background: transparent;
    border-radius: 2px;
    padding-left: 5px;
}
form.wpcf7-form p {

}
input#submitbutton {
    border: 2px solid #660000;
    color: #660000;
    font-weight: 800;
}
input#submitbutton:hover {
    background-color: #660000;
    color: #fff;
    box-shadow: 5px 5px 15px #888888;
    border-radius: 5px 20px 5px;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
}

.featured-cta-button:hover {
    border-radius: 5px 20px 5px;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
}
select#water-supply{
	border: 2px solid gray;
    height: 40px;
    width: 100%;
    background: transparent;
    border-radius: 2px;
    padding-left: 5px;
}
p.contact-form-required {
    font-size: 16px;
    color: #660000;
    font-weight: 600;
}

.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

.accordion-toggle {cursor: pointer;}
.accordion-content {display: none;}
.accordion-content.default {display: block;}

.subpage-container strong, .lead-home strong {
	color: #e29631;
}

.sr-text {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

.slick-slider .slick-prev, .slick-slider .slick-next {
    z-index: 100;
    font-size: 2.5em;
    height: 40px;
    width: 40px;
    margin-top: -20px;
    color: #B7B7B7;
    position: absolute;
    top: 50%;
    text-align: center;
    color: #000;
    transition: opacity .25s;
    cursor: pointer;
}
.slick-slider .slick-prev:hover, .slick-slider .slick-next:hover {
    opacity: .65;
}
.slick-slider .slick-prev {
    left: 0;
    display: none !important;
}
.slick-slider .slick-next {
    right: 0;
    display: none !important;
}

.slick-next::before, .slick-prev::before {
    color: #4ab95b !important;
}

.product-images {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}
.product-images li, .product-images figure, .product-images a, .product-images img {
    display: block;
    outline: none;
    border: none;
}
.product-images .main-img-slider figure {
    margin: 0 auto;
    /*padding: 0 2em;*/
}
.product-images .main-img-slider figure a {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}
.product-images .main-img-slider figure a img {
    width: 100%;
    /*max-width: 400px;*/
    margin: 0 auto;
}
.product-images .thumb-nav {
    margin: 0 auto;
    max-width: 260px;
    padding: 0;
}
.product-images .thumb-nav.slick-slider .slick-prev, .product-images .thumb-nav.slick-slider .slick-next {
    font-size: 1.2em;
    height: 20px;
    width: 26px;
    margin-top: -10px;
}
.product-images .thumb-nav.slick-slider .slick-prev {
    margin-left: -30px;
}
.product-images .thumb-nav.slick-slider .slick-next {
    margin-right: -30px;
}
.product-images .thumb-nav li {
    display: block;
    margin: 0 auto;
    cursor: pointer;
}
.product-images .thumb-nav li img {
    display: block;
    width: 100%;
    max-width: 65px;
    margin: 0 auto;
    border: 2px solid transparent;
    -webkit-transition: border-color .25s;
    -ms-transition: border-color .25s;
    -moz-transition: border-color .25s;
    transition: border-color .25s;
}
.product-images .thumb-nav li:hover, .product-images .thumb-nav li:focus {
    border-color: #999;
}
.product-images .thumb-nav li.slick-current img {
    border-color: #FB8D00;
}

.pswp__bg {
    background: #fff;
}

.pswp__top-bar {
    background-color: transparent !important;
}

.pswp__button,
.pswp__button:before,
.pswp__button--close:before,
.pswp__button--arrow--left:before,
.pswp__button--arrow--right:before {
    background: none !important;
    background-size: 100%;
    width: 44px;
    height: 44px;
    font-family: 'icomoon';
}

.pswp__button {
    color: #000 !important;
    opacity: 0.4 !important;
    transition: opacity .25s;
}
.pswp__button:hover {
    opacity: 0.65 !important;
}
.pswp__button:before {
    opacity: 1 !important;
}
.pswp__button.pswp__button--arrow--left:before, .pswp__button.pswp__button--arrow--right:before {
    font-size: 44px;
}
.pswp__button.pswp__button--arrow--left:before {
    content: "\e93b";
}
.pswp__button.pswp__button--arrow--right:before {
    content: "\e93c";
}
.pswp__button.pswp__button--close {
    top: 10px;
    right: 20px;
}
.pswp__button.pswp__button--close:before {
    content: "\e92a";
    font-size: 44px;
}
.pswp__button.pswp__button--close:hover {
    color: red;
}

.strain-tags {
    color: #FB8D00;
}

.strain-attributes {
    text-align: center;
}

.strain-attributes p {
    display: inline-block;
    vertical-align: middle;
    padding-left: 5px;
}

.strain-attributes .lineage, .strain-attributes .lineage p {
    color: #4ab95b;
}

.strain-attributes .aroma, .strain-attributes .aroma p {
    color: #FB8D00;
}

.strain-chart-container {
    padding-top:40px;
}

@media (min-width: 992px) {
    nav ul li.showing ul {
        display: block;
        color:white;
        opacity: 1;
        /*height: initial;*/
    }
    .nav-menu {
        position: absolute;
        margin-top: -100px;
        z-index: 999;
        max-width: 1040px;
        left: 50%;
        transform: translate(-50%, 0);
        text-align: right;
        width: 1040px;
        pointer-events: none;
        padding: 20px 20px 0 20px;
    }
    .nav-menu  * {
        pointer-events: all;
        /* margin: 7px 5px 0 5px; */
    }
    .w-nav.navbar {
        position:relative;
        z-index: 0;
    }
}
@media(max-width: 991px) {

    .locked {
        overflow-y: hidden;
    }
    nav ul li:hover {
        color: #fff;
    }
    .nav-menu {
        transition: transform .5s;
        width: 100%;
        padding-left: 0px;
    }
    ul#primary-menu {
        padding-left: 0px;
        width: 100%;
        margin-top: 0px;
    }
    nav ul li {
        width: 100%;
        text-align: left;
        /* overflow: hidden; */

    }

    li.menu-item .sub-menu a {
        text-indent: 0px !important;
    }
    li.menu-item .sub-menu li {
        width: 100%;
        height:52px;
    }

    nav ul li a {
        color: #fff;
        background-color: #e29631;
    }
    nav ul li.has-sub  > a:after {
        content: "\f0dd";
        font-family: FontAwesome;
        position: absolute;
        top: 50% !important;
        right: 20px;
        transform: translate(0, -50%);
        width: initial;
        height: initial;
    }
    nav ul li a:hover {
        background-color: #fff;
        color: #e29631;
    }
    nav ul li ul {
        position: relative;
        width: 100%;
        margin: 0px;
        top: 0px;
        z-index: 0;
        margin-top: -300px;
        height: initial;
    }
    nav ul li.showing {
        background-color: #e29631;
        z-index: 4;
    }
    ul#primary-menu {
        background: transparent;
    }
    ul.submenu {
        background-image: url('../images/background.png');
    }
    nav ul li.showing ul {
        margin-top: 0px;
        opacity: 1;
        /* padding-left: 35px; */
    }
    nav ul li {
        padding: 0px;
        background-color:#e29631;
    }

    ul.sub-menu:before {
        content: " ";
        height:5px;
        width: 5px;
        position: absolute;
    }


    ul.sub-menu li {
        border-bottom: none;
    }
    nav ul li a {
        padding: 15px 20px;
        display: block;
        z-index:5;
        position: relative;
    }
    nav ul li ul li a {
        background: rgba(84,84,84,.8);
        padding-left: 35px;
    }
    .w-nav-menu {
        position: fixed;
        top: 0px;
        padding-top: 60px;
        max-height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        transform: translate(0px, -150%);
        display: block !important;
    }
    .w--nav-menu-open {
        transform: translate(0px, 0px);
    }
    div.nav-block >	 div {
        width: 100%;
        background-color: #f0f2f0;
        /*box-shadow: rgba(0, 0, 0, 0.49) 0px 0px 15px 3px;*/
    }
    .header-container, .navbar-container {
        max-width: 100%;
    }
    div.header-container > div {
        margin-top: 0px;
        margin-bottom: 0px;
        max-width: 100%;
    }
    .w-container.header-container {
        z-index: 1;
    }
    nav.w-nav-menu.nav-menu{
        z-index: -1;
    }

    /* system styles */

    a {
        font-size: 16px;
        line-height: 28px;
    }
    .button.primary-action-button {
        padding-right: 10px;
        padding-left: 10px;
        font-size: 16px;
    }
    .button.cta-button {
        padding-right: 20px;
        padding-left: 20px;
        font-size: 16px;
        line-height: 20px;
    }
    .home-main {
        height: 450px;
        background-position: 0% 0%, 65% 50%;
    }
    .home-main.sub-main {
        height: 460px;
        padding-top: 80px;
    }
    .nav-menu {
        background-color: #e29631;
        color: white;
    }
    .nav-link {
        margin-top: 0px;
        border-bottom: 1px solid #056144;
        color: white;
        font-size: 16px;
    }
    .nav-link:hover {
        margin-top: 0px;
        background-color: white;
        color: #e29631;
    }
    .nav-link.w--open {
        background-color: #00755f;
        color: white;
    }
    .nav-link.ancillary {
        display: block;
        border-bottom-color: #056144;
    }
    .nav-link.sub-nav-link {
        padding-left: 40px;
        background-color: #00755f;
    }
    .nav-link.sub-nav-link:hover {
        background-color: white;
        color: #e29631;
    }
    .nav-link.sub-nav-link.w--current {
        background-color: white;
        color: #e29631;
    }
    .nav-block {
        position: fixed;
        width: 100%;
        background-color: #f0f2f0;
        box-shadow: rgba(0, 0, 0, 0.49) 0px 0px 15px 3px;
        z-index: 9;
    }
    .hero-container {
        /*padding-top: 180px;*/
    }
    .hero-container.sub-hero-container.no-sub-nav {
        margin-bottom: -1px;
    }
    .logo-block {
        padding-top: 10px;
    }
    /*.weather-info {
      position: fixed;
      width: 100%;
      height: 10px;
    }*/
    .address {
        font-size: 16px;
        line-height: 20px;
    }
    .menu-button.w--open {
        background-color: #e29631;
        color: white;
    }
    .logo {
        height: 50px;
    }
    .footer-link {
        color: white;
        font-size: 16px;
        line-height: 20px;
        text-decoration: none;
    }
    .cta-h3 {
        font-size: 20px;
    }
    .subpage-container {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .subnav-link {
        font-size: 19px;
    }
}
@media (max-width: 767px) {
    h2 {
        font-size: 26px;
        line-height: 30px;
    }
    .button {
        font-family: Lato, sans-serif;
    }
    .button.primary-action-button {
        width: 80%;
        margin-right: auto;
        margin-bottom: 20px;
        margin-left: auto;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .button.cta-button {
        margin-right: 10px;
        margin-left: 10px;
    }
    .home-main {
        height: 400px;
        padding-top: 100px;
        padding-right: 20px;
        padding-left: 20px;
        /*background-position: 0% 0%, 82% 76px;*/
        background-attachment: scroll, scroll;
    }
    .home-main.sub-main {
        height: 300px;
    }
    .navbar {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .nav-link {
        padding-top: 14px;
        padding-bottom: 14px;
        background-color: #e29631;
        color: white;
    }
    .nav-link.w--current {
        background-color: white;
        color: #e29631;
    }
    .nav-link.w--open {
        background-color: #00755f;
        color: white;
    }
    .nav-block {
        top: 0px;
        z-index: 9;
    }
    .hero-container {
        padding-top: 20px;
    }
    .hero-container.sub-hero-container {
        bottom: 60px;
    }
    .hero-container.sub-hero-container.no-sub-nav {
        margin-bottom: 0px;
    }
    .hero-h1 {
        font-size: 30px;
        line-height: 36px;
    }
    .hero-supporting-text {
        padding-right: 20px;
        padding-left: 20px;
        font-size: 20px;
        line-height: 24px;
    }
    .logo-block {
        max-height: 40px;
    }
    .action-menu-container {
        margin-top: 60px;
        margin-bottom: 40px;
        padding-right: 20px;
        padding-left: 20px;
        text-align: center;
    }
    .footer {
        padding-right: 20px;
        padding-left: 20px;
    }

    .address {
        text-align: left;
    }
    .pre-footer-h2 {
        font-size: 20px;
        line-height: 24px;
    }
    .email-signup {
        width: 70%;
    }
    .email-signup-button {
        display: inline;
        width: 30%;
        font-family: Lato, sans-serif;
    }
    .email-signup-form {
        width: 80%;
    }
    .logo {
        height: 40px;
    }
    .cta-h3 {
        display: block;
        margin-top: 0px;
    }
    .subpage-container {
        margin-top: 20px;
        margin-bottom: 20px;
        padding-right: 20px;
        padding-left: 20px;
    }
    .two-up-block {
        margin-bottom: 20px;
    }
    .two-up-container {
        margin-top: 0px;
    }
    .cta-block {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .cta-block-h3 {
        font-size: 24px;
        line-height: 30px;
    }
    .column {
        padding-right: 0px;
        padding-left: 0px;
    }
    .breadcrumb-container{
        display:none;
    }
    .left {
        width:100%;
    }
    .right{
        width:100%;
    }
}
@media (max-width: 479px) {
    h2 {
        font-size: 24px;
        line-height: 28px;
    }
    p {
        font-size: 16px;
        line-height: 22px;
        margin-top:20px;
    }
    .button.primary-action-button {
        width: 100%;
    }
    .button.cta-button {
        display: block;
        margin-bottom: 10px;
    }
    .button.button-small {
        width: 100%;
    }
    .home-main {
        height: 400px;
        padding-top: 90px;
        background-position: 0% 0%, 50% 40px;
    }
    .home-main.sub-main {
        padding-top: 120px;
    }
    .nav-link {
        background-color: #e29631;
        color: white;
    }
    .nav-link.w--current {
        background-color: white;
        color: #e29631;
    }
    .hero-container {
        padding-top: 0px;
    }
    .hero-container.sub-hero-container {
        bottom: 40px;
        padding-top: 0px;
    }
    .hero-container.sub-hero-container.no-sub-nav {
        margin-bottom: 7px;
    }
    .hero-supporting-text {
        padding-right: 10px;
        padding-left: 10px;
    }
    .action-menu-container {
        margin-top: 40px;
        margin-bottom: 40px;
        padding-right: 20px;
        padding-left: 20px;
    }
    .footer {
        padding-right: 20px;
        padding-left: 20px;
    }
    .address {
        margin-top: 10px;
        text-align: left;
    }
    .pre-footer {
        padding: 20px;
    }
    .email-signup {
        width: 70%;
        font-size: 14px;
    }
    .email-signup-button {
        width: 30%;
        font-size: 16px;
        line-height: 20px;
    }
    .email-signup-form {
        width: 100%;
    }
    .home-h2 {
        font-size: 20px;
        line-height: 24px;
    }
    .cta-container {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .lead-home {
        text-align: left;
    }
    .footer-copyright {
        margin-left: 10px;
    }
    .subpage-container {
        margin-top: 0px;
        margin-bottom: 20px;
    }
    .two-up-block {
        margin-bottom: 40px;
    }
    .cta-block {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .cta-block-h3 {
        font-size: 24px;
        line-height: 30px;
    }

}
@media(min-width:767px){ .home-main{background-attachment: fixed; }}

